version: "3"

services:

  db:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432
    ports:
      - 5432:5432
    env_file:
      .env

  redis:
    image: docker.io/bitnami/redis:latest
    ports:
      - 6379:6379
    env_file:
      - .env
    volumes:
      - redis_data:/bitnami/redis/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    env_file:
      - .env
    ports:
      - 5050:80
    depends_on:
      - db

  api_server:
    build: api_server
    container_name: api_server
    volumes:
      - ./api_server:/code
    ports:
      - 8000:8000
    env_file:
      - .env
    command: >
      sh -c "uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    restart: on-failure:3
    depends_on:
      - db
      - redis

  products:
    build: products
    container_name: products
    volumes:
      - ./products:/code
    ports:
      - 8001:8001
    env_file:
      - .env
    command: >
      sh -c "uvicorn main:app --host 0.0.0.0 --port 8001 --reload"
    restart: on-failure:3
    depends_on:
      - db
      - redis
    
  orders:
    build: orders
    container_name: orders
    volumes:
      - ./orders:/code
    ports:
      - 8002:8002
    env_file:
      - .env
    command: >
      sh -c "uvicorn main:app --host 0.0.0.0 --port 8002 --reload"
    restart: on-failure:3
    depends_on:
      - db
      - redis

  payments:
    build: payments
    container_name: payments
    volumes:
      - ./payments:/code
    ports:
      - 8003:8003
    env_file:
      - .env
    command: >
      sh -c "uvicorn main:app --host 0.0.0.0 --port 8003 --reload"
    restart: on-failure:3
    depends_on:
      - db
      - redis
   
volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local